// @font-face {
//   font-family: DecimaPro;
//   src: url("../font/DecimaPro-Light.woff2") format("woff2");
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: DecimaPro;
//   src: url("../font/DecimaPro.svg") format("svg"), url("../font/DecimaPro-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: DecimaPro;
//   src: url("../font/DecimaPro-Bold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
// }


@font-face {
  font-family: 'Bemount';
  src: url(../font/Bemount.otf);
}

@font-face {
  font-family: 'Bemount-line';
  src: url(../font/Bemount-line.otf);
}

@font-face {
  font-family: 'OS-italic';
  src: url(../font/OPENSANS-ITALIC.ttf);
}

@font-face {
  font-family: 'OS-light';
  src: url(../font/OPENSANS-LIGHT.ttf);
}

@font-face {
  font-family: 'OS-semibold';
  src: url(../font/OPENSANS-SEMIBOLD.ttf);
}

@font-face {
  font-family: 'OS';
  src: url(../font/OPENSANS-REGULAR.ttf);
}

@font-face {
  font-family: 'OS-bold';
  src: url(../font/OPENSANS-BOLD.ttf);
}

@font-face {
  font-family: 'CORP';
  src: url(../font/CO_HEADLINE_CORP.ttf);
}
html{
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: hidden;
}
body{
  height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: DecimaPro, sans-serif;
  overflow: hidden;
  //min-width: 320px;
}
