@font-face {
  font-family: DecimaPro;
  src: url("../font/DecimaPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: DecimaPro;
  src: url("../font/DecimaPro.svg") format("svg"), url("../font/DecimaPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DecimaPro;
  src: url("../font/DecimaPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html{
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: hidden;
}
body{
  height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: DecimaPro, sans-serif;
  overflow: hidden;
  //min-width: 320px;
}
